services:
  db:
    image: postgres:17
    environment:
      POSTGRES_DB: devdb
      POSTGRES_USER: devuser
      POSTGRES_PASSWORD: devpass
    volumes:
      - postgres-data:/var/lib/postgresql/data
    ports:
      - "${POSTGRES_PORT:-5432}:5432" # if 5432 port is taken, change in .env
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U $$POSTGRES_USER -d $$POSTGRES_DB"]
      interval: 5s
      timeout: 5s
      retries: 10
    restart: unless-stopped

  web:
    build:
      context: ./backend
      dockerfile: Dockerfile.local
    command: python manage.py runserver 0.0.0.0:8000
    volumes:
      - ./backend:/app
    ports:
      - "8000:8000"
    env_file:
      - ./backend/.env
    environment:
      - DEADLOCK_API_BASE_URL=https://api.deadlock-api.com
      - DEADLOCK_API_TIMEOUT_S=15
      - DEADLOCK_API_SLEEP_S=0.1
    depends_on:
      db:
        condition: service_healthy
    restart: unless-stopped

  # React dev server (only for local dev, optional to add later)
  # frontend:
  #   image: node:18
  #   working_dir: /app
  #   volumes:
  #     - ./frontend:/app
  #   command: ["npm", "run", "dev"]   # Vite or CRA dev command
  #   ports:
  #     - "5173:5173"
  #   stdin_open: true
  #   tty: true

volumes:
  postgres-data:
